<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.li02.hy.dao.AyMoodMapper">
  <resultMap id="BaseResultMap" type="com.li02.hy.model.AyMood">
    <!--@mbg.generated-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="praise_num" jdbcType="INTEGER" property="praiseNum" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, content, user_id, praise_num, publish_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from ay_mood
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from ay_mood
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.li02.hy.model.AyMood">
    <!--@mbg.generated-->
    insert into ay_mood (id, content, user_id, 
      praise_num, publish_time)
    values (#{id,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{praiseNum,jdbcType=INTEGER}, #{publishTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.li02.hy.model.AyMood">
    <!--@mbg.generated-->
    insert into ay_mood
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="praiseNum != null">
        praise_num,
      </if>
      <if test="publishTime != null">
        publish_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="praiseNum != null">
        #{praiseNum,jdbcType=INTEGER},
      </if>
      <if test="publishTime != null">
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.li02.hy.model.AyMood">
    <!--@mbg.generated-->
    update ay_mood
    <set>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="praiseNum != null">
        praise_num = #{praiseNum,jdbcType=INTEGER},
      </if>
      <if test="publishTime != null">
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.li02.hy.model.AyMood">
    <!--@mbg.generated-->
    update ay_mood
    set content = #{content,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      praise_num = #{praiseNum,jdbcType=INTEGER},
      publish_time = #{publishTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into ay_mood
    (id, content, user_id, praise_num, publish_time)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=VARCHAR}, #{item.content,jdbcType=VARCHAR}, #{item.userId,jdbcType=VARCHAR}, 
        #{item.praiseNum,jdbcType=INTEGER}, #{item.publishTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>

<!--auto generated by MybatisCodeHelper on 2019-03-29-->
  <select id="findByUserIdAndPraiseNumLessThanOrEqualTo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from ay_mood
    where user_id=#{userId,jdbcType=VARCHAR} and praise_num <![CDATA[<=]]> #{maxPraiseNum,jdbcType=INTEGER}
  </select>




<!--auto generated by MybatisCodeHelper on 2019-03-29-->
  <update id="updateContentById">
    update ay_mood
    set content=#{updatedContent,jdbcType=VARCHAR}
    where id=#{id,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-03-29-->
  <select id="findByContent" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from ay_mood
    where 1=1
    <if test="content!=null and content!=''">
      and content=#{content,jdbcType=VARCHAR}
    </if>
  </select>



